
body{
  background-color: #F8F8F8;
}


/* HEADER */
header{
  border : 1px solid pink;
  background-color: pink;
  height: 12vh;
  margin-bottom: 5%;
}

h1{
  float: left;
  width: 60%;
  font-family: cursive;
  text-align: center;
}

figure{
  float: left;
  width: 10%;
}



/*CASES & plateau */

.caseNoire{
	background-color: black;
    height: 40px;
    width: 40px;
}

.caseVerte{
    background-color: lightgreen;
}

.caseRose{
    background-color: pink;
}

#tableau{
  width: 50%;
  height: 400px;
}

table{
  text-align: center;
  margin-left: 30%;
}


/* IMAGES */
img{
  height: 30px;
  width: 30px;
}

#logo{
  height: 60px;
  width: 60px;
}


