/* Déclaration  */
@ColorCreme : #F8F8F8;
@DimCase:50px;
@DimLogo : 60px;


@tiny-screen      : 480px; /*tiny screens media query (less than 480px)*/
@small-screen     : 768px; /* screens between 481px and 768px* */
@medium-screen    : 1024px; /* screens between 769px and 1024px*/
@large-screen     : 1280px; /* screens between 1025px and 1280px*/

/* CSS */
#html_jeu, .body_jeu{
  background-image: url("../images/fond2.png");
  margin: 0; padding: 0; // annulation des marges
}
.master{
  background-color:rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

/* HEADER */
.jeu{
    height: 80px;
    margin-bottom: 20px;

}

/*.texte{
  color: white;
  float: left;
  width: 5%;
  margin-top: 14.5%;
  -moz-transform: rotate(-5deg);
  line-height: 130%;
  margin-left: 10%;
  font-family: cursive;
}*/
.navjeu{
  margin: 0; padding: 0; // annulation des marges
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  height: 60px;
  width: 100%;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  float: left;
  width: 15%;
  color: white;
  font-size: 20px;
  font-family: cursive;
}

/* Plateau */

.plateau{
  @media (min-width:@large-screen){
    .caseNoire{
    	height : @DimCase;
    	width : @DimCase;
      background-color : black;
    }
    .caseBlanche{
      height : @DimCase;
      width : @DimCase;
      background-color : white;
    }
  }
  @media (max-width: @tiny-screen){
    .caseNoire{
    	height : 20px;
    	width : 20px;
      background-color : black;
    }
    .caseBlanche{
      height : 20px;
      width : 20px;
      background-color : white;
    }
  }
  @media (min-width: @tiny-screen)and(max-width: @small-screen){
    .caseNoire{
    	height : 30px;
    	width : 30px;
      background-color : black;
    }
    .caseBlanche{
      height : 30px;
      width : 30px;
      background-color : white;
    }
  }
  @media (min-width: @small-screen)and(max-width: @medium-screen){
    .caseNoire{
      height : 40px;
      width : 40px;
      background-color : black !important;
    }
    .caseBlanche{
      height : 40px;
      width : 40px;
      background-color : white;
    }
  }
  @media (min-width: @medium-screen) and (max-width:@large-screen){
    .caseNoire{
      height : 50px;
      width : 50px;
      background-color : black;
    }
    .caseBlanche{
      height : 50px;
      width : 50px;
      background-color : white;
    }
  }

}
#plateau{
  .plateau;
  margin-top: 100px;
}

figure{
  float: left;
  width: 10%;
}
p{
  color: white;
}
#tour{
  width: 40%;
  margin-left: 2%;
}

.selectionnee{
  color: #C57C11;
}
#accueil:hover{
  color: #F4D17B;
  text-decoration: underline;
}
#score-verts, #score-roses{
  height: 80px;
  margin-left: 20%
}

/*CASES & plateau */

table{
  text-align: center;
  margin-left: 30%;
}
td{
  width: 50px;
  height: 50px;
}

/* IMAGES */
img{
  height: 50%;
  width: 50%;
}
.logo{
  height: @DimLogo;
  width: @DimLogo;
}
.caseRouge{
  background-color: red;
}
